<html>
    
     <!-- HEAD-->

	  <%- include('./../partials/head') %> 

	  <!-- HEAD -->
    
    <body>
        
         <!-- HEADER-->

	  <%- include('./../partials/header') %> 

	  <!-- HEADER -->
        
        <main>
            <h1 id = "tusCompras">Tus Compras</h1>
            <div class="datComp">
                <ul id = "ulReg">
                    <li class = "liReg">
                        <label class="noTenesCta">Viaje:</label>
                        <p class="nombreViaje ncart form-control">Viaje</p>
                        <div></div>
                    </li>
                    <li class = "liReg">
                        <label class="noTenesCta">Precio Individual:</label>
                        <p id="precioPasaje" class="precioPasaje ncart form-control">Precio Individual</p>
                        <div></div>
                    </li>
                    <li class = "liReg">
                        <label class="noTenesCta">Cantidad de pasajes:</label>
                        <p class="pasajes ncart form-control">Pasajes</p>
                        <div></div>
                    </li>
                    <li class = "liReg">
                        <label class="noTenesCta">Precio total:</label>
                        <p class="precioTotal ncart form-control">TOTAL</p>
                        <div></div>
                    </li>
                    <div class=".compras"></div>
                    <li>
                        <button id = "finCom" type="button" class="btn btn-primary">Finalizar Compra</button>
                    </li>
                    <br>
                    <li>
                        <button style="width:10em"id="cancelar" type="button" class="btn btn-primary"> Cancelar compra </button>
                    </li>
                    <li>
                        <a id="valt" href="/" type="href" class="btn btn-link">Volver a la tienda</a>
                    </li>
                </ul>
            </div>
        </main>
        <script src="./../../js/carrito.js"></script>
        <script src="./../../js/carrito2.js"></script>
    </body>
    	<!-- FOOTER -->

	<%- include('./../partials/footer') %>

	<!-- FOOTER -->

</html>