<html>
    
     <!-- HEAD-->

	  <%- include('./../partials/head') %> 

	  <!-- HEAD -->
    
    <body>
        
         <!-- HEADER-->

	  <%- include('./../partials/header') %> 

	  <!-- HEADER -->
        
        <main>
            <h1 id = "tusCompras">Tus Compras</h1>
            <br>
            <div class="datComp">
                <ul id = "ulReg">
                    <li class = "liReg">
                        <input placeholder="Viaje Interestelar"/>
                    </li>
                    <li class = "liReg">
                        <input placeholder="Seguro Viaje "/>
                    </li>
                    <li class = "liReg">
                        <input placeholder="Impuestos"/>
                    </li>
                    <li class = "liReg">
                        <input placeholder="TOTAL"/>
                    </li>
                    
                    <li>
                        <button id = "finCom" type="button" class="btn btn-primary">Finalizar Compra</button>
                    </li>
                    <li>
                        <button id = "valt" type="button" class="btn btn-link">Volver a la tienda</button>
                    </li>
                </ul>
            </div>
            <br></br>
            <br></br>
        </main>
        
        

    </body>
    	<!-- FOOTER -->

	<%- include('./../partials/footer') %>

	<!-- FOOTER -->

</html>