
header{
    background-color: 6127D0;
    height: 22em;
    font-weight: bold;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: 6127D0;
  }

li {
    float: right;
    color: #30E3C1;
  }
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

li a:hover {
    background-color: #111;
  }

span{
    margin-left: 4.8em;
    font-size: 5em;
    color: #30E3C1;
}

#slogan{
    margin-left: 2em;
    margin-top: 2em;
    margin-bottom: 5em;
    color: #30E3C1;
}

.icono{
    color: #30E3C1 !important;
    margin-left: 0.5em;
}