/* header para todas las ventanas */
header{
  width: 100vw;
  height: 25vh;
  background-color:#6127D0 ;
  border: #30E3C1 solid;
}

.top-nav-bar{
  display: flex;
  margin-top: 20px;
  justify-content: space-around;
  align-items: center;
  
}
.nav-bar{
    
  height: 20em;                 /* .class1 tambien es para footer */
  font-weight: bold;
}
.class1{
    
  height: 2em;                 /* .class1 tambien es para footer */
  font-weight: bold;
  margin-right: 70px;
  align-self: flex-start;
}

.skyTrip{
  color: #30E3C1;
  font-weight: bold;
  text-align: center;
  margin-left:100px;
  font-size: 60px;

}
.hamburguer-button{
  background-color:#30e3c2ce; 
  color: white;
  display: none;
  max-width: 50px;
  padding: 13px 0;
  border-radius: 8px;
  text-align: center;
  font-size: 15px;
  margin: auto;
  

}

.listaNav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  
}

.li1 {
  float: right;
  color: #30E3C1;
}

.li1 a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.li1 a:hover {
  background-color: #111;
}

span{
  margin: 3.8em;
  font-size: 5em;
  color: #30E3C1;
}

#slogan{
  margin-left: 2em;
  color: #30E3C1;

}

.icono{
  color: #30E3C1 !important;      /* .icono tambien es para footer */
  margin-left: 0.5em;
  font-size: 5em;
}
.titulo-paquetes{
  text-align: center;
  font-size: 20px;
}
.descripcion-sitio{
  text-align: center;
  font-size: 15px;
  width: 90%;
}

.paquetito{
  
  text-align: center;
}
.descripcion-paquetito{
  font-size: 10px;
  text-align: center;
}


.group-imagenes-padre{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

  
}

.group-imagenes-hijo{
  align-items: center;
}
.imagen-hijo{
  width: 200px;
  height: 200px;

}

/* ==============================produCtart ==========================*/

#finCom{
  margin-top: 1em;
  color: #30E3C1;
  background-color: 6127D0;
  font-weight: bold;
}
#tusCompras{
  padding-left: 1em;
  padding-top: 1em;
  justify-content: space-evenly;
  display: flex;
}
.datComp{
  display: flex;
  background-color: rgb(217, 223, 223);
  justify-content: center ;
  
}

/*-======================PAQUETES GRUPO=====================*/

.group-paquetes{
  display: flex;
  justify-content: space-evenly;
}

.titulo-paquetes{
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  
  color: #6127D0;
  
}
.descripcion-sitio{
  text-align: center;
  font-size: 15px;
  width: 90%;
  color: #6127D0;
}

.paquetito{

  
  
  text-align: center;
}
.descripcion-paquetito{
  font-size: 14px;
  text-align: center;
  color: #6127D0;
  font-weight: bold;
}
.logo-paquetito{
  font-size: 35px;
  color: #6127D0;


}


/* footer para todas las ventanas */
footer{
  background-color: #6127D0;
}

#stFoot{
  font-size: 2em !important;
  margin-left: 0em !important;
}

#divFoot{
  height: 5.2em !important;
  text-align: center;
}

#iconoFoot{
  margin-left: 0em !important;
}


/* Register */
#crearCuenta{
  padding-left: 0.8em;
  
}



.liReg{
  padding-top: 1em;        /* ========================.liReg tambien se usa para Login */
}

.liReg input{
  width: 20em;
}
.forminput{
  width: 18em;
}

#ulReg{
  list-style: none;       /*==========================#ulReg tambien se usa para Login */
  padding-left: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
}



/* Login */
#valt{
  padding-left: 0em;
  padding-top: 0em;
  margin-top: 1em;
}

/*pagina login*/
#login{
  padding-top: 1em;
  justify-content: space-evenly;
  display: flex;
}

#ingresar{
  margin-left: 7em;
  margin-top: 1em;
  color: #30E3C1;
  background-color: 6127D0;
  font-weight: bold;
}

#noTenesCta{
  color: rgba(0, 0, 0, 0.48);
  font-size: 14px;
  font-weight: 500;
  margin-left: 0em;
  margin-top: 0em;
  margin-right: 0em;
}


/* productDetail */
.titulo-vivi{
  
  margin-left: 200px;
 
  background-color: rgb(217, 223, 223);
    
  font-weight: 400;
}


main{
  width:100vw;
  
  background-color: rgb(217, 223, 223);
  
  
 
}

.two-column-product{
  display: flex;
  background-color: rgb(217, 223, 223);
 justify-content: space-evenly;
  
}

.two-column-product ul li {
  list-style: none;
}

.two-column-product img {
  width: 300px;
  height: 300px;
}


.column-right-side li{
  margin: 10px;
}

.precio{
  font-size: 30px;
  color:rgba(235, 42, 8, 0.856)
}


/* formulario de login*/
.logi{
  display: flex;
  background-color: rgb(217, 223, 223);
  justify-content: center ;
  
}
.formlogin{
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*================================MEDIDAS PARA CELULARES==========================================================*/
@media only screen and (max-width:480px) {
  


/* header para todas las ventanas */
header{
  width: 100vw;
  height: 40vh;
  background-color:#6127D0 ;
  border: #30E3C1 solid;
}
.nav-bar{
  display: none; 
  height: 20em;                 /* .class1 tambien es para footer */
  font-weight: bold;
}
.class1{
    
  height: 20em;                 /* .class1 tambien es para footer */
  font-weight: bold;
  display:none;
}
.skyTrip{
  color: #30E3C1;
  font-weight: 400;
  text-align: center;
  font-size: 40px;
}
.listaNav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  
}

.li1 {
  float: right;
  color: #30E3C1;
}

.li1 a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.li1 a:hover {
  background-color: #111;
}

span{
  margin: 3.8em;
  font-size: 5em;
  color: #30E3C1;
}

#slogan{
  margin-left: 10px;
  margin-top: 10px;
  color: #30E3C1;

}

.icono{
  color: #30E3C1 !important;      /* .icono tambien es para footer */
  margin-left: 30px;
  font-size: 70px;
  margin-top: 20px;
}

.hamburguer-button{
  background-color:#30e3c2ce; 
  color: white;
  display: block;
  max-width: 50px;
  padding: 13px 0;
  border-radius: 8px;
  text-align: center;
  font-size: 15px;
  margin: auto;
}


/*==================================Sección paquetes celulares==========================*/


.group-paquetes{
  display: flex;
  justify-content: space-evenly;
 
}


.titulo-paquetes{
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  
  color: #6127D0;
  
}
.descripcion-sitio{
  text-align: center;
  font-size: 15px;
  width: 90%;
  color: #6127D0;
}

.paquetito{

  
  
  text-align: center;
}
.descripcion-paquetito{
  font-size: 14px;
  text-align: center;
  color: #6127D0;
  font-weight: bold;
}
.logo-paquetito{
  font-size: 35px;
  color: #6127D0;


}

/*==================================Sección Imagenes celulares==========================*/


.group-imagenes-padre{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

  
}

.group-imagenes-hijo{
  align-items: center;
}
.imagen-hijo{
  width: 200px;
  height: 200px;
  margin: 20px;

}

/* =========================================================productDetail */





.two-column-product{
  
  display: flex;
  background-color: rgb(217, 223, 223);
 justify-content: center;
 flex-wrap: wrap;
 margin-top: 0px;
  
}

.two-column-product ul li {
  list-style: none;
  text-align: center;
}

.two-column-product img {
  width: 200px;
  height: 200px;
}


.column-right-side li{
  margin: 10px;
}

.precio{
  font-size: 30px;
  color:rgba(235, 42, 8, 0.856)
}
/* footer para todas las ventanas */
footer{
  background-color: #6127D0;
  border: #30E3C1 solid;
 
}

#stFoot{
  font-size: 2em !important;
  margin-left: 0em !important;

}

#divFoot{
  
  text-align: center;
}

#iconoFoot{
  margin-left: 0em !important;
}




/*================================MEDIDAS PARA TABLETS==========================================================*/

/*medidas para tables*/
@media only screen and (max-width:769px) and (min-width:481px) {
  /* header para todas las ventanas */
header{
  width: 100vw;
  height: 35vh;
  background-color:#6127D0 ;
  border: #30E3C1 solid;
}
.top-nav-bar{
  display: flex;
  padding: 15px;
  align-items: center;
  
}
.class1{
    
  height: 2em;
  font-weight: bold;
  margin-right: 9px;
  align-self: flex-start;
}

.listaNav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  
}
.skyTrip{
  color: #30E3C1;
  font-weight: bold;
  text-align: center;
  font-size: 30px;
}
.li1 {
  float: right;
  color: #30E3C1;
}

.li1 a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.li1 a:hover {
  background-color: #111;
}

span{
  margin: 3.8em;
  font-size: 5em;
  color: #30E3C1;
}

#slogan{
  margin-top: 20px;
  color: #30E3C1;
}

.icono{
  color: #30E3C1 !important;      /* .icono tambien es para footer */
  margin-left: 0.2em;
}


/* footer para todas las ventanas */
footer{
  background-color: #6127D0;
  border: #30E3C1 solid;
}

#stFoot{
  font-size: 2em !important;
  margin-left: 0em !important;

}

#divFoot{
  height: 5.2em !important;
  text-align: center;
}

#iconoFoot{
  margin-left: 0em !important;
}
}
/*medidas para compus*/
@media only screen and (min-width:769px) {
  /* header para todas las ventanas */
header{
  width: 100vw;
  height: 35vh;
  background-color:#6127D0 ;
  border: #30E3C1 solid;
}

.class1{
    
  height: 2em;                 /* .class1 tambien es para footer */
  font-weight: bold;
}

.listaNav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  
}

.li1 {
  float: right;
  color: #30E3C1;
}

.li1 a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.li1 a:hover {
  background-color: #111;
}

span{
  margin: 3.8em;
  font-size: 5em;
  color: #30E3C1;
}

#slogan{
  margin-left: 2em;
  margin-top: -1em;
  color: #30E3C1;
}

.icono{
  color: #30E3C1 !important;      /* .icono tambien es para footer */
  margin-left: 0.5em;
}


/* footer para todas las ventanas */
footer{
  background-color: #6127D0;
  border: #30E3C1 solid;
}

#stFoot{
  font-size: 2em !important;
  margin-left: 0em !important;

}

#divFoot{
  height: 5.2em !important;
  text-align: center;
}

#iconoFoot{
  margin-left: 0em !important;
}
}
}
