.divProductos{
  color: white;
}

main{
  width:100%;
  background-image: url("../images/BCK.jpg");

  
}

/*==========header==========*/

header{
  width: 100%;
  height: auto;
  background-color:#6127D0 ;
  position: fixed;
  z-index: 1;
}
  
.top-nav-bar{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-bar{     
  height: 20em;                 /* .class1 tambien es para footer */
  font-weight: bold;
}

.class1{ 
  height: 2em;                 /* .class1 tambien es para footer */
  font-weight: bold;
  
}
  
.skyTrip{
  color: #30E3C1;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  font-size: 60px;
  
}

.hamburguer-button{
  background-color:#30e3c2ce; 
  color: white;
  display: none;
  max-width: 50px;
  padding: 13px 0;
  border-radius: 8px;
  text-align: center;
  font-size: 15px;
  margin: auto;
}
  
.listaNav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;  
}
  
.li1 {
  float: right;
  color: #30E3C1;
  list-style-type: none;
}
  
.li1 a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.href{
  color: #30E3C1 !important;
}

.href:hover{
  color: orange !important;
}

span{
  margin: 3.8em;
  font-size: 5em;
  color: #30E3C1;
}

#slogan{
  margin-left: 8em;
  color: #30E3C1;
  
  
}

.icono{
  color: #30E3C1 !important;      /* .icono tambien es para footer */
  margin-top: 0.2em;
  font-size: 5em;
}

/*==========footer==========*/

footer{
  background-color: #6127D0;
  width: auto;
  padding-bottom: 1.30em;
  height: auto;
}

#stFoot{
  font-size: 2em !important;
  margin-left: 0em !important;
  margin-right: 0em;
}

#divFoot{
  text-align: center;
}

#iconoFoot{
  margin-left: 0em !important;
}

.redes{
  color: #30E3C1 !important;
  padding: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: stretch;
}

.rIcono{
  padding-right: 5px;
  font-size: 25px;
}
.fin{
  padding: 20px 10px;
  color: dimgrey;
}

/*================MEDIDA PARA CELULARES================*/

@media only screen and (max-width:480px){
  
/*==========header celulares==========*/

header{
  width: 100vw;
  height: auto;
  background-color:#6127D0 ;
  
}

.top-nav-bar{
  display: flex;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
}

.nav-bar{
  display: none; 
  height: 20em;                 /* .class1 tambien es para footer */
  font-weight: bold;
}

.class1{
    
  height: 20em;                 /* .class1 tambien es para footer */
  font-weight: bold;
  display:none;
}

.skyTrip{
  color: #30E3C1;
  font-weight: 400;
  text-align: center;
  font-size: 40px;
}

.listaNav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden; 
}

.li1 {
  float: right;
  color: #30E3C1;
  background-color: #30E3C1;
}

.li1 a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.li1 a:hover {
  background-color: #111;
}

span{
  margin: 3.8em;
  font-size: 5em;
  color: #30E3C1;
}

#slogan{
  margin-left: 10px;
  margin-top: 10px;
  color: #30E3C1;
  text-align: center;
}

.icono{
  color: #30E3C1 !important;      /* .icono tambien es para footer */
  margin-left: 30px;
  font-size: 70px;
  margin-top: 20px;
}

.hamburguer-button{
  background-color:#30e3c2ce; 
  color: white;
  display: block;
  max-width: 50px;
  padding: 13px 0;
  border-radius: 8px;
  text-align: center;
  font-size: 15px;
  margin: auto;
}

/*==========footer celulares==========*/

footer{
  background-color: #6127D0;
  width: auto;
}

#stFoot{
  font-size: 2em !important;
  margin-left: 0em !important;
}

#divFoot{  
  text-align: center;
}

#iconoFoot{
  margin-left: 0em !important;
}
}

/*================MEDIDA PARA TABLETS================*/

@media only screen and (max-width:769px) and (min-width:481px){

/*==========header tablets==========*/

header{
  width: 100vw;
  height: auto;
  background-color:#6127D0 ;
  
}

.top-nav-bar{
  display: flex;
  
  
}

.class1{
  height: 2em;
  font-weight: bold;
  margin-right: 9px;
  align-self: flex-start;
}

.listaNav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.skyTrip{
  color: #30E3C1;
  font-weight: bold;
  text-align: center;
  font-size: 30px;
}

.li1 {
  float: right;
  color: #30E3C1;
}

.li1 a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.li1 a:hover {
  background-color: #111;
}

span{
  margin: 3.8em;
  font-size: 5em;
  color: #30E3C1;
}

#slogan{
  margin-left: 1em;
  color: #30E3C1;
  font-size: 13px;
}

.icono{
  color: #30E3C1 !important;      /* .icono tambien es para footer */
  margin-left: 0.2em;
}

/*==========footer tablets==========*/

footer{
  background-color: #6127D0;
  width: auto;
}

#stFoot{
  font-size: 2em !important;
  margin-left: 0em !important;
}

#divFoot{
  height: 5.2em !important;
  text-align: center;
}

#iconoFoot{
  margin-left: 0em !important;
}
}