.noTenesCta{
  color: white;
}
#finCom{
  margin-top: 1em;
}
#tusCompras{
  padding-left: 1em;
  padding-top: 4em;
  justify-content: space-evenly;
  display: flex;
  color: white;
}
.datComp{
  display: flex;
  justify-content: center ;
}
.ncart{
  width: 15em !important;
}
/*================MEDIDA PARA CELULARES================*/

@media only screen and (max-width:480px){
  #finCom{
    margin-top: 1em;
  }
  #tusCompras{
    padding-left: 1em;
    padding-top: 7.5em;
    justify-content: space-evenly;
    display: flex;
  }
  .datComp{
    display: flex;
    background-color: rgb(217, 223, 223);
    justify-content: center ;
  }
}