#finCom{
  margin-top: 1em;
  color: #30E3C1;
  background-color: 6127D0;
  font-weight: bold;
}
#tusCompras{
  padding-left: 1em;
  padding-top: 4em;
  justify-content: space-evenly;
  display: flex;
}
.datComp{
  display: flex;
  background-color: rgb(217, 223, 223);
  justify-content: center ;
}
/*================MEDIDA PARA CELULARES================*/

@media only screen and (max-width:480px){
  #finCom{
    margin-top: 1em;
    color: #30E3C1;
    background-color: 6127D0;
    font-weight: bold;
  }
  #tusCompras{
    padding-left: 1em;
    padding-top: 7.5em;
    justify-content: space-evenly;
    display: flex;
  }
  .datComp{
    display: flex;
    background-color: rgb(217, 223, 223);
    justify-content: center ;
  }
}