

<footer>
    <div id = "divfoot"  >
        <span  id = "stFoot">Sky Trip</span>
        <i id = "iconoFoot" class="fas fa-rocket fa-2x icono"></i>
    </div>
</footer>
<div class="sub-footer">
    <div class="container">
        <p>Copyright © 2021-2022 Sky Trip tm</p>
    </div>
</div>