

<footer>
    <div id = "divfoot"  >
        <span  id = "stFoot">Sky Trip</span>
        <i id = "iconoFoot" class="fas fa-rocket fa-3x icono"></i>
    </div>
    <div class="redes">
        <i class="fab fa-whatsapp-square rIcono"></i>
        <i class="fab fa-facebook rIcono"></i>
        <i class="fab fa-instagram rIcono"></i>
        <i class="fab fa-twitter-square rIcono"></i>

    </div>
</footer>
<p class="fin">Copyright © 2021-2022 Sky Trip tm</p>
