<header>
    <div class="top-nav-bar">
      <a href="/" class="skyTrip">Sky Trip</a>
      <a href="/"><i class="fas fa-rocket icono fa-4x"></i></a>
    
      <nav class = "class1">
          <div>
            <ul class = "listaNav">
              <% if (locals.isLogged) {%>
              <li class = li1>
                  <a class="href" href="/crearProducto">Crear Producto</a>
              </li>
              <li class = li1>
                <a>Precios</a>
              </li>
              <li class = li1>
                <a class="href" href="/productsList">Productos</a>
              </li>
              <li class = li1>
                <% } else { %>
              <li class = li1>
                <a>Precios</a>
              </li>
              <li class = li1>
                <a class="href" href="/productsList">Productos</a>
              </li>
              <li class = li1>
               
              </li>
                <% } %>
          </div>
          <div>
            <ul class = "listaNav">
              <% if (!locals.isLogged) {%>
              <li class = li1>
                <a class="href" href="/users/register" ><i class="fas fa-address-card rIcono"></i></a>
              </li>
              <li class = li1>
                
                <a class="href" href="/users/login"><i class="far fa-user-lock rIcono "></i></a>
              </li>
              <% } %>
              <li class = li1>
                 
                <a class="href" href="/productCart"><i class="fas fa-cart-arrow-down rIcono"></i></a>
              </li>
             
            </ul>
          </div>
        </nav>
          
      </div>
        
        <p id = "slogan">Viajar al espacio nunca estuvo tan cerca</p>
          <a href="#" class="hamburguer-button">
            <i class="fas fa-bars"></i>
    
           </a>
          
          
  </header>