<header>
    <div class="top-nav-bar">
    <a href="/"><i class="fas fa-rocket icono"></i></a>
    <a href="/" class="skyTrip">Sky Trip</a>
      <nav class = "class1">
          <div>
            <ul class = "listaNav">
              <li class = li1>
                  <a class="href" href="/users/register" >Registrate</a>
              </li>
              <li class = li1>
                <a class="href" href="/users/login">Inicia Sesión</a>
              </li>
              <li class = li1>
                <a class="href" href="/productCart">Carrito</a>
              </li>
              <li class = li1>
                <a>Precios</a>
              </li>
              <li class = li1>
                <a class="href" href="/productsList">Productos</a>
              </li>
              <li class = li1>
                <a class="href" href="/crearProducto">Crear Producto</a>
              </li>
            </ul>
          </div>
        </nav>
          
        </div>
        
        <p id = "slogan">Viajar al espacio nunca estuvo tan cerca</p>
          <a href="#" class="hamburguer-button">
            <i class="fas fa-bars"></i>
    
           </a>
          
          
  </header>