<header>
    <div class="top-nav-bar">
    <i class="fas fa-rocket icono"></i>
    <p class="skyTrip">Sky Trip</p>
      <nav class = "class1">
          <div>
            <ul class = "listaNav">
              <li class = li1>
                  <a class="href" href="/users/register" >Registrate</a>
              </li>
              <li class = li1>
                <a class="href" href="/users">Inicia Sesión</a>
              </li>
              <li class = li1>
                <a class="href" href="/productCart">Carrito</a>
              </li>
              <li class = li1>
                <a>Precios</a>
              </li>
              <li class = li1>
                <a class="href" href="/">Productos</a>
              </li>
            </ul>
          </div>
        </nav>
          
        </div>
        
        <p id = "slogan">Viajar al espacio nunca estuvo tan cerca</p>
          <a href="#" class="hamburguer-button">
            <i class="fas fa-bars"></i>
    
           </a>
          
          
  </header>