<html>

	
	<!-- HEAD-->

	<%- include('./../partials/head') %> 

	<!-- HEAD -->

	
<body>
	<!-- HEADER-->

	<%- include('./../partials/header') %> 

	<!-- HEADER -->
<main >

		<h2  >Formulario de Viajes a Ofrecer</h2>
		
		<div>
			<form action = "/" method="POST" enctype="multipart/form-data">
				<div>
					<div >
						<label for="name" >Nombre del producto:</label>
						<input type="text" id="name" name="name" placeholder="Ej: VIaje a Marte" >
					</div>
					<div >
						<label for="price" >Precio del producto:</label>
						<input type="text" id="price" name="price" placeholder="Ej: 123000000" >
					</div>
					<div >
						<label for="discount" >Descuento:</label>
						<input type="text" id="discount" name="discount" placeholder="Ej: 30" >
					</div>
					<div >
						<label for="category" >Categoría:</label>
						<select name="category" id="category" >
							<option value="">Elegí</option>
							<option value="in-sale">En oferta</option>
							<option value="visited">Últimos agregados</option>
						</select>
					</div>
					<div >
						<label for="description" >Descripción:</label>
						<textarea name="description" id="description" ></textarea>
					</div>
					<div>
						<input type="file" name="image"></input>
					</div>
					<div >
						<button type="submit" >Guardar producto</button>
					</div>
				</div>
			</form>
		</div>
</main>
</body>	
	<!-- FOOTER-->

	<%- include('./../partials/footer') %> 

	<!-- FOOTER -->
</html>