
<html >
<!-- HEAD-->

<%- include('./../partials/head') %> 

<!-- HEAD -->
<body>
	 <!-- HEADER-->

	 <%- include('./../partials/header') %> 

	 <!-- HEADER -->
    <!-- DIV PRINCIPAL -->
	<div>

        <!-- DIV titulo -->
		<div class="row">
			<div class="col-12">
				<h2 >Estás editando: <i>Viaje a Marte</i></h2>
			</div>
		</div>
        <!-- DIV del Formulario Completo-->
		<div class="col-12">

			<form  method="POST">
        <!-- DIV que contiene todo el forms -->
				<div class="row">
                    <!-- DIV por cada elemento que compone el forms -->
					<div class="col-12 col-md-6">
						<label for="name" class="form-label">Nombre del producto: </label>
						<input type="text" id="name" name="name"  class="form-input">
					</div>
                    <!-- DIV por cada elemento que compone el forms -->
					<div class="col-12 col-md-6">
						<label for="price" class="form-label">Precio del producto: </label>
						<input type="text" id="price" name="price"   class="form-input">
					</div>
                    <!-- DIV por cada elemento que compone el forms -->
					<div class="col-12 col-md-6">
						<label for="discount" class="form-label">Descuento:</label>
						<input type="text" id="discount" name="discount"  class="form-input">
					</div>
                    <!-- DIV por cada elemento que compone el forms -->
					<div class="col-12 col-md-6">
						<label for="category" class="form-label">Categoría:</label>
						<select name="category" id="category" class="form-input">
							<option value="">Elegí</option>
							<option value="in-sale">En oferta</option>
							<option value="visited" >Últimos agregados</option>
						</select>
					</div>
                    <!-- DIV por cada elemento que compone el forms -->
					<div class="col-12">
						<label for="description" class="form-label">Descipción:</label>
						<textarea name="description" id="description" class="form-input"></textarea>
					</div>
                    <!-- DIV por cada elemento que compone el forms -->
					<div class="col-12">
						<button type="submit" class="buy-now-button">Guardar producto</button>
					</div>
				</div>
			</form>
		</div>

	</div>
	
</body>	
<!-- FOOTER -->

<%- include('./../partials/footer') %>

<!-- FOOTER -->
</html>