<html>
    
    <!-- HEAD-->

	  <%- include('./../partials/head') %> 

	  <!-- HEAD -->
    
    <body>
        
       <!-- HEADER-->

	  <%- include('./../partials/header') %> 

	  <!-- HEADER -->
        
        <main>
            <h1 id = "login"> Ingresa a tu Cuenta</h1> 
            <br>
            <div class="logi">              
                <form class="formlogin" action="/login" method="POST">
                    <p>
                      <!-- campo para el usuario -->
                      <input class="forminput" type="text" placeholder="Usuario" name="usuario" required>
                    </p>
                   
                    <p>
                      <!-- campo para la contraseña -->
                      <input class="forminput" type="password" placeholder="Contraseña" name="password" required >
                    </p>
                    <p>
                        <button type="submit" class="btn btn-primary">Ingresar</button>
                    </p>
                    <p>
                        <p id = "noTenesCta">¿Olvidó su contraseña?</p>
                    </p>
                    <p>
                        <span id= 'noTenesCta' >¿No tenés una cuenta?</span>
                        <a href = '/users/register'>Registrate</a>
                    </p>
                </form>
            </div>
            <br></br>
            <br></br>
        </main>
        
        

    </body>
    <!-- FOOTER -->

	<%- include('./../partials/footer') %>

	<!-- FOOTER -->
</html>