<html>
    
    <!-- HEAD-->

	  <%- include('./../partials/head') %> 

	  <!-- HEAD -->
    
    <body>
        
         <!-- HEADER-->

	  <%- include('./../partials/header') %> 

	  <!-- HEADER -->
        
        <main>
            <h1 id = "crearCuenta">Crear Cuenta</h1>
            <form class="regForm" action="/users" method="post">
                <ul id = "ulReg">
                    <li class = "liReg">
                        <input name="firstName" placeholder="Nombre" required/>
                    </li>
                    <li class = "liReg">
                        <input name="lastName" placeholder="Apellido" required/>
                    </li>
                    <li class = "liReg">
                        <input name="email" type="email" placeholder="Correo Electronico" required/>
                    </li>
                    <li class = "liReg">
                        <input name="password" type="password" placeholder="Contraseña" required/>
                    </li>
                    <br>
                    <li>
                        <button id="crear" type="submit" class="btn btn-primary">Crear</button>
                    </li>
                    <br>
                    <li>
                        <span id="tenesCuenta">¿Ya tenés una cuenta?</span>
                        <a href="/users/login">Ingresá</a>
                    </li>
                    <br>
                    <li>
                        <a href = '/'>Volver a la tienda</a>
                    </li>
                </ul>
            </form>
            <br>
        </main>                
    </body>

<!-- FOOTER -->

<%- include('./../partials/footer') %>

<!-- FOOTER -->
</html>